services:
  main-server:
    image: itzg/minecraft-server:java21
    container_name: cobblemon-conquest-main-server
    pull_policy: daily
    restart: unless-stopped
    tty: true
    stdin_open: true
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      MOTD: "Cobblemon Conquest Main Server"
      PACKWIZ_URL: /modpack/pack.toml
      TYPE: FABRIC
      VERSION: 1.21.1
      FABRIC_LAUNCHER_VERSION: 1.1.1
      FABRIC_LOADER_VERSION: 0.18.4

      RCON_PASSWORD: "${RCON_PASSWORD:-minecraft}"

      DIFFICULTY: easy

      SPAWN_ANIMALS: "false"
      SPAWN_MONSTERS: "false"
      SPAWN_PROTECTION: 0
      SPAWN_NPCS: "true"
    
      VIEW_DISTANCE: 10
      SIMULATION_DISTANCE: 6
      MAX_PLAYERS: 50

      ENABLE_COMMAND_BLOCK: "true"

      INIT_MEMORY: 4G
      MAX_MEMORY: 12G

      ENABLE_WHITELIST: "true"

      REPLACE_ENV_IN_PLACE: "true"
      REPLACE_ENV_VARIABLE_PREFIX: "CFG_"
      REPLACE_ENV_DURING_SYNC: "true"

      CFG_POSTGRES_HOST: ${POSTGRES_HOST}
      CFG_POSTGRES_PORT: ${POSTGRES_PORT}
      CFG_POSTGRES_DB: ${POSTGRES_DB}
      CFG_POSTGRES_USER: ${POSTGRES_USER}
      CFG_POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    
    ports:
      - "24454:24454/udp"
    
    volumes:
      - ./data/main-server:/data
      - ./modpack:/modpack:ro
  
  limbo:
    image: ghcr.io/quozul/picolimbo:latest
    container_name: cobblemon-conquest-limbo
    restart: unless-stopped

  proxy:
    image: itzg/mc-proxy:latest
    container_name: cobblemon-conquest-proxy
    pull_policy: daily
    restart: unless-stopped
    tty: true
    stdin_open: true
    environment:
      TYPE: VELOCITY
      BUNGEE_JAR_REVISION: "1"
      CFG_MOTD: Cobblemon Conquest Proxy
      REPLACE_ENV_VARIABLES: "true"
      PLUGINS_FILE: /config/plugins.txt

      REPLACE_ENV_IN_PLACE: "true"
      REPLACE_ENV_VARIABLE_PREFIX: "CFG_"
      REPLACE_ENV_DURING_SYNC: "true"

      CFG_POSTGRES_HOST: ${POSTGRES_HOST}
      CFG_POSTGRES_PORT: ${POSTGRES_PORT}
      CFG_POSTGRES_DB: ${POSTGRES_DB}
      CFG_POSTGRES_USER: ${POSTGRES_USER}
      CFG_POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - "25577:25565"
    volumes:
      - ./proxy:/config
      - ./data/proxy:/server
    depends_on:
      main-server:
        condition: service_healthy
      limbo:
        condition: service_started

  backup:
    image: cobblemon-bw-backup:latest
    restart: on-failure
    build: 
      context: ./backup
    depends_on:
      main-server:
        condition: service_healthy

    environment:
      RCON_HOST: main-server:25575
      RCON_PORT: 25575
      RCON_PASSWORD: "${RCON_PASSWORD:-minecraft}"

      SSH_USER: albercl
      SSH_HOST: nas.albercl.dev
      SSH_PATH: ~/backups/minecraft/cobblemon-conquest

    volumes:
      - ./data/main-server:/data:ro
      - ~/.ssh/id_ed25519:/root/.ssh/id:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

