services:
  main-server:
    image: itzg/minecraft-server:java21
    container_name: cobblemon-conquest-main-server
    pull_policy: daily
    tty: true
    stdin_open: true
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      MOTD: "Cobblemon Conquest Main Server"
      PACKWIZ_URL: /modpack/pack.toml
      TYPE: FABRIC
      VERSION: 1.21.1
      FABRIC_LAUNCHER_VERSION: 1.1.1
      FABRIC_LOADER_VERSION: 0.18.4
    volumes:
      - ./data/main-server:/data
      - ./modpack:/modpack:ro
  
  proxy:
    image: itzg/mc-proxy:latest
    container_name: cobblemon-conquest-proxy
    pull_policy: daily
    tty: true
    stdin_open: true
    environment:
      TYPE: VELOCITY
      BUNGEE_JAR_REVISION: "1"
      CFG_MOTD: Cobblemon Conquest Proxy
      REPLACE_ENV_VARIABLES: "true"
      PLUGINS_FILE: /config/plugins.txt
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "25577:25565"
    volumes:
      - ./proxy:/config
      - ./data/proxy:/server

  database:
    image: postgres:18.1
    container_name: cobblemon-conquest-database
    pull_policy: daily
    environment:
      POSTGRES_DB: cobblemon_conquest
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: cobblemonpassword
    volumes:
      - ./data/database:/var/lib/postgresql
    ports:
      - "5432:5432"

  backup:
    image: cobblemon-bw-backup:latest
    restart: on-failure
    build: 
      context: ./backup
    depends_on:
      - main-server
    environment:
      RCON_HOST: main-server:25575
      RCON_PORT: 25575
      RCON_PASSWORD: "${RCON_PASSWORD:-minecraft}"

      SSH_USER: albercl
      SSH_HOST: nas.albercl.dev
      SSH_PATH: ~/backups/cobblemon-conquest

    volumes:
      - ./data/main-server:/data:ro
      - ~/.ssh/id_ed25519:/root/.ssh/id:ro

