services:
  main-server:
    image: itzg/minecraft-server:java21
    container_name: cobblemon-conquest-main-server
    pull_policy: daily
    tty: true
    stdin_open: true
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      MOTD: "Cobblemon Conquest Main Server"
      PACKWIZ_URL: /modpack/pack.toml
      TYPE: FABRIC
      VERSION: 1.21.1
      FABRIC_LAUNCHER_VERSION: 1.1.1
      FABRIC_LOADER_VERSION: 0.18.4

      DIFFICULTY: easy

      SPAWN_ANIMALS: "false"
      SPAWN_MONSTERS: "false"
      SPAWN_PROTECTION: 0
      SPAWN_NPCS: "true"
    
      VIEW_DISTANCE: 10
      SIMULATION_DISTANCE: 6
      MAX_PLAYERS: 50

      ENABLE_COMMAND_BLOCK: "true"

      INIT_MEMORY: 4G
      MAX_MEMORY: 12G
    
    ports:
      - "24454:24454/udp"
    
    volumes:
      - ./data/main-server:/data
      - ./modpack:/modpack:ro

    depends_on:
      database:
        condition: service_healthy
  
  limbo:
    image: ghcr.io/quozul/picolimbo:latest
    container_name: cobblemon-conquest-limbo

  proxy:
    image: itzg/mc-proxy:latest
    container_name: cobblemon-conquest-proxy
    pull_policy: daily
    tty: true
    stdin_open: true
    environment:
      TYPE: VELOCITY
      BUNGEE_JAR_REVISION: "1"
      CFG_MOTD: Cobblemon Conquest Proxy
      REPLACE_ENV_VARIABLES: "true"
      PLUGINS_FILE: /config/plugins.txt
    ports:
      - "25577:25565"
    volumes:
      - ./proxy:/config
      - ./data/proxy:/server
    depends_on:
      database:
        condition: service_healthy
      main-server:
        condition: service_healthy
      limbo:
        condition: service_started

  database:
    image: postgres:18.1
    container_name: cobblemon-conquest-database
    pull_policy: daily
    environment:
      POSTGRES_DB: cobblemon_conquest
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: cobblemonpassword
    volumes:
      - ./data/database:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin --dbname cobblemon_conquest"]
      interval: 5s
      timeout: 5s
      retries: 10

  backup:
    image: cobblemon-bw-backup:latest
    restart: on-failure
    build: 
      context: ./backup
    depends_on:
      main-server:
        condition: service_healthy

    environment:
      RCON_HOST: main-server:25575
      RCON_PORT: 25575
      RCON_PASSWORD: "${RCON_PASSWORD:-minecraft}"

      SSH_USER: albercl
      SSH_HOST: nas.albercl.dev
      SSH_PATH: ~/backups/cobblemon-conquest

    volumes:
      - ./data/main-server:/data:ro
      - ~/.ssh/id_ed25519:/root/.ssh/id:ro

